*{
    font-family: 'Roboto', sans-serif;
}

:root {
    --arr-button-colour:  #B4F8C8;
    --sort-button-colour: #FBE7C6;
    --background-colour: #242424;
}

.array-button{
    background-color: var(--arr-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.array-button:hover{
    box-shadow: 0px 0px 10px 2px var(--arr-button-colour);
}

.sorting-button{
    background-color: var(--sort-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.sorting-button:hover{
    box-shadow: 0px 0px 10px 2px var(--sort-button-colour);
}

.array-container span{
    display: inline-block;
}

.array-bar{
    display: inline-block;
    margin : 0 1px;
    margin-top : 100px;
}