*{
    font-family: 'Roboto', sans-serif;
}

:root {
    --arr-button-colour:  #B4F8C8;
    --sort-button-colour: #FBE7C6;
    --stop-button-colour: #ff8a8a;
    --background-colour: #242424;
    --disabled-colour: #878787;
    --selected-colour: #39ff14;
}

.content{
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.control-bar{
    background-color: var(--background-colour);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 10px;
}

.array-container{
    flex-grow: 4;
}

.array-controls{
    padding-left: 20px;
}

p{
    margin: 0px;
}
.size-slider{
    font-size: 20px;
    font-weight: 500;
    color: white;
    align-items: center;
    margin: 10px;
    padding-left: 45px;
    background-color: var(--background-colour);
}

.size-slider input[type="range"] {
    -webkit-appearance:none !important;
    appearance: none;
    width: 350px;
    height: 2px;
    background: white;
    align-self: center;
    border: none;
    outline: none;
    opacity: 0.5;
    transition: all 0.5s ease-out;
  }


.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    margin-right: auto;
}

#stopButton{
    background-color: var(--stop-button-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    transition: all 0.75s ease-out;
}


#stopButton:hover:enabled{
    box-shadow: 0px 0px 10px 2px var(--stop-button-colour);
    transition: box-shadow 0.25s;
}

#stopButton:disabled{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease-out;
}

#stopButton span{
    margin-right: auto;
}

.arr-buttons{
    flex-grow: 1;
    padding-left: 50px;
    display: inline-flex;
}

.size-slider input[type="range"]:hover:enabled{
    opacity: 1;
    transition: opacity 0.75s ease-out;
}

.size-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.array-button{
    background-color: var(--arr-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
    transition: all 0.5s ease-out;
}

.array-button:hover:enabled{
    box-shadow: 0px 0px 10px 2px var(--arr-button-colour);
    transform: scale(1.05, 1.05);
    transition: all 0.5s ease-out;
}

.sort-buttons{
    display: inline-flex;
    justify-content: center;
    flex-grow: 3
}

.sorting-button{
    background-color: var(--sort-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 25px;
    transition: all 0.75s ease-out;
}

.sorting-button:hover:enabled{
    box-shadow: 0px 0px 10px 2px var(--sort-button-colour);
    transform: scale(1.05, 1.05);
    transition: all 0.5s ease-out;
}

.selected-sorting-button {
    background-color: var(--arr-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: var(--sort-button-colour);
    border-color: var(--sort-button-colour);
    border-style: solid;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px 2px var(--sort-button-colour);
    transform: scale(1.05, 1.05);
    transition: all 0.5s ease-out;
}

.array-container span{
    display: inline-flex;
}

.array-bar{
    margin : 0 1px;
    background-color: #A0E7E5;
    transition: height 0.1s, background-color 0s;
}

button:disabled{
    background-color: var(--disabled-colour);
}