*{
    font-family: 'Roboto', sans-serif;
}

:root {
    --arr-button-colour:  #B4F8C8;
    --sort-button-colour: #FBE7C6;
    --stop-button-colour: #ff6e77;
    --background-colour: #242424;
}

.content{
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

.control-bar{
    background-color: var(--background-colour);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 10px;
}

.array-container{
    flex-grow: 4;
}

.array-controls{
    margin-left: 10px;
}

p{
    margin: 0px;
}
.size-slider{
    font-size: 20px;
    font-weight: 500;
    color: white;
    align-items: center;
    margin: 10px;
    background-color: var(--background-colour);
}

.size-slider input[type="range"] {
    -webkit-appearance:none !important;
    appearance: none;
    width: 350px;
    height: 2px;
    background: white;
    align-self: center;
    border: none;
    outline: none;
    opacity: 0.7;
  }



.array-buttons{
    flex-grow: 1;
}

.size-slider input[type="range"]:hover{
    opacity: 1;
}

.size-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.array-button{
    background-color: var(--arr-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.array-button:hover{
    box-shadow: 0px 0px 10px 2px var(--arr-button-colour);
}

#stopButton{
    background-color: var(--stop-button-colour) ;
}

#stopButton:hover{
    box-shadow: 0px 0px 10px 2px var(--stop-button-colour);
}

.sort-buttons{
    display: inline-flex;
    justify-content: center;
    flex-grow: 3
}

.sorting-button{
    background-color: var(--sort-button-colour);
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    color: black;
    border-color: var(--background-colour);
    border-style: solid;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 25px;
}

.sorting-button:hover{
    box-shadow: 0px 0px 10px 2px var(--sort-button-colour);
}

.array-container span{
    display: inline-flex;
}

.array-bar{
    margin : 0 1px;
    background-color: #A0E7E5;
}